.card-container {
  border-radius: 10px;
  display: flex;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: auto;
  padding: 10px;
  background-color:#FFF;
  cursor: pointer;
}

.name {
  text-transform: capitalize;
  font-weight: 700;
}